{% extends 'landing_page/base.html' %}
{% load static %}
{% block content %}



<section class="conteudo">
    <section class="banner">
        <img class="banner__imagem" src="{% static '\assets\imagens\banner_principal.png' %}" alt="banner ">
        <h1 class="banner__titulo"> O primeiro passo para uma vida melhor</h1>
    </section>

    <section class="galeria">
        <div class="cards">
            <h2 class="cards__titulo">Navegue pelos serviços</h2>
            <ul class="cards__lista">
                <li class="card">
                    <a href="{% url 'imagem' %}">
                        <img class="card__imagem" src="{% static '/assets/imagens/landing_page/carina-nebula.png' %}"
                            alt="foto">
                    </a>
                    <span class="card__tag">Exame de imagem</span>
                    <div class="card__info">
                        <p class="card__titulo">Exame de imagem</p>
                        <div class="card__texto">
                            <p class="card__descricao">Fonte/fotógrafo/satélite</p>
                            <span>
                                <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                            </span>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <a href="{% url 'imagem' %}">
                        <img class="card__imagem" src="{% static '/assets/imagens/landing_page/carina-nebula.png' %}"
                            alt="foto">
                    </a>
                    <span class="card__tag">Exame de sangue</span>
                    <div class="card__info">
                        <p class="card__titulo">Exame de sangue</p>
                        <div class="card__texto">
                            <p class="card__descricao">Fonte/fotógrafo/satélite</p>
                            <span>
                                <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                            </span>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <a href="{% url 'imagem' %}">
                        <img class="card__imagem" src="{% static '/assets/imagens/landing_page/carina-nebula.png' %}"
                            alt="foto">
                    </a>
                    <span class="card__tag">Consulta médica</span>
                    <div class="card__info">
                        <p class="card__titulo">Consulta médica</p>
                        <div class="card__texto">
                            <p class="card__descricao">Fonte/fotógrafo/satélite</p>
                            <span>
                                <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                            </span>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <a href="{% url 'imagem' %}">
                        <img class="card__imagem" src="{% static '/assets/imagens/landing_page/carina-nebula.png' %}"
                            alt="foto">
                    </a>
                    <span class="card__tag">Nutricionista</span>
                    <div class="card__info">
                        <p class="card__titulo">Nutricionista</p>
                        <div class="card__texto">
                            <p class="card__descricao">Fonte/fotógrafo/satélite</p>
                            <span>
                                <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</section>


{% endblock %}