{% load static %}

<div class="pagina-inicial">
    <header class="cabecalho">
        <img id="logoClinica" src="{% static '/assets/logo/clinicalogo.svg' %}" alt="Logo da clinica" />
        <div class="cabecalho__busca">
            <div class="busca__fundo">
                <input class="busca__input" type="text" placeholder="O que você procura?">
                <img class="busca__icone" src="{% static '/assets/ícones/1x/search.png' %}" alt="ícone de search">
            </div>
        </div>
    </header>
</div>